/* Purva Jani */

body {
    font-family: "Century Gothic";
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 100px;
    line-height: 8px;
    background: linear-gradient(rgba(255,255,255,0.55), rgba(255,255,255,0.55)), url("funsies_images/blueHour.jpg");
    background-size: cover;
}

p {
    line-height: 26px;
}

ul {
    line-height: 40px;
    list-style-type: disc;
}

pre {
    font-family: "Century Gothic";
}

.syllable {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.load-image {
    cursor: pointer;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.4);
    height: 100px;
    width: 100px;
    border-radius: 55px;
    margin: 10px;
    display: grid;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
    opacity: 0.7;
    transition: all 0.3s ease;
}

.load-image:hover {
    background: rgba(255, 255, 255, 1);
    transform: scale(1.05);
  }

/* modal */

.modal-open {
    background-color: rgba(0,0,0,0);
    vertical-align: middle;
    border: none;
    outline: none;
    color: black;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: initial;
    font-size: 16px;
    font-family: Bahnschrift Light;
    transition-duration: all 0.5s;
    width: 200px;
    max-width: 300px;
    margin: auto;
    transition: all 0.3s ease;
}

.modal-open:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
    color: black;
}

.modal-open span {
    display: inline-block;
    position: relative;
}

.modal-open span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 75px;
    padding-bottom: 75px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    animation: modal-open .5s;
    padding-left: 200px;
    padding-right: 200px;
    background: linear-gradient(rgba(255,255,255,0.55), rgba(255,255,255,0.55)), url("funsies_images/blueHour.jpg");
    background-size: cover;
}

.modal-content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    z-index: 4;
}

.modal-header {
    padding: 20px 16px;
    background-color: rgba(47, 56, 105, 0.3);
    font-size: 30px;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}
